[Unit]
Description=Geth Service
After=network.target network-online.target
Wants=network-online.target

[Service]
User=reth
ExecStart=/data/scripts/start_geth.sh
Restart=always
RestartSec=30s

# environment
Environment="INSTANCE_ID=1"

# logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=geth

[Install]
WantedBy=multi-user.target